.main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: green 3px solid;
    margin-left: 50px;
    margin-right: 50px;

}
